<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ATHENA HUB</title>

<link rel="stylesheet" href="/style.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>

<h1 class="logo">
ATHENA <span>HUB</span>
</h1>

<p class="desc">
Premium downloader dashboard modern.
</p>

<div class="menu">

<a href="/instagram" class="card">
<div class="icon">◉</div>
Snap Insta
</a>

<a href="/tiktok" class="card">
<div class="icon">◆</div>
Snap TikTok
</a>

<a href="/spotify" class="card">
<div class="icon">▲</div>
Spotify
</a>

<a href="/ytmp3" class="card">
<div class="icon">▶</div>
YTMP3
</a>

<a href="/musik" class="card">
<div class="icon">⌕</div>
Search Music
</a>

</div>

</body>
</html>