<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ATHENA HUB</title>

<link rel="stylesheet" href="/style.css">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>

<h1 class="logo">
ATHENA <span>MEDIA</span>
</h1>

<p class="desc">
athena mediaa adalah website multifungsi untuk download dan streaming media dengan tampilan modern, ringan, dan mudah digunakan di semua perangkat. Website ini menyediakan berbagai fitur populer seperti download video TikTok tanpa watermark, download video & reels Instagram, convert YouTube ke MP3 (YTMP3), hingga pencarian music lengkap dengan thumbnail dan player music otomatis.
</p>

<div class="menu">

<a href="/instagram" class="card">
<div class="icon">◉</div>
Instagram Download
</a>

<a href="/tiktok" class="card">
<div class="icon">◆</div>
Tiktok Download
</a>

<a href="/spotify" class="card">
<div class="icon">▲</div>
Spotify Download 
</a>

<a href="/ytmp3" class="card">
<div class="icon">▶</div>
YTMP3
</a>

<a href="/musik" class="card">
<div class="icon">⌕</div>
Search Music
</a>

</div>

</body>
</html>