<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<title>Spotify</title>
</head>
<body>

<a href="/" class="back">
← Back
</a>

<div class="box">

<h1 class="title">
Spotify Search
</h1>

<p class="text">
Search Spotify music.
</p>

<div class="input-area">

<input
type="text"
id="spotifyQuery"
placeholder="Search Spotify">

<button onclick="searchSpotify()">
Search
</button>

</div>

<div class="result" id="spotifyResult"></div>

</div>

<script src="/app.js"></script>

</body>
</html>