<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<title>TikTok</title>
</head>
<body>

<a href="/" class="back">
← Back
</a>

<div class="box">

<h1 class="title">
Snap TikTok
</h1>

<p class="text">
TikTok downloader tanpa watermark.
</p>

<div class="input-area">

<input
type="text"
id="tiktokUrl"
placeholder="Paste TikTok URL">

<button onclick="downloadTikTok()">
Process
</button>

</div>

<div class="result" id="tiktokResult"></div>

</div>

<script src="/app.js"></script>

</body>
</html>