<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<title>YTMP3</title>
</head>
<body>

<a href="/" class="back">
← Back
</a>

<div class="box">

<h1 class="title">
YTMP3
</h1>

<p class="text">
Convert YouTube ke MP3.
</p>

<div class="input-area">

<input
type="text"
id="ytUrl"
placeholder="Paste YouTube URL">

<button onclick="convertYT()">
Convert
</button>

</div>

<div class="result" id="ytResult"></div>

</div>

<script src="/app.js"></script>

</body>
</html>